.navbar{
    background-color: #22e79b;
}

.quem-somos{
    background-color: rgb(27, 229, 236);
}

.margin{
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(35, 139, 236);
}

.bg-footer{
    background-color: black;
    color: white;
}